.header {
  width: 100%;

  background-color: black;
}

.header__wrapper {
  width: @min-width;
  margin: 0 auto;
  padding: 23px 10px 19px;

  background-color: black;
}

.header__logo {
  width: 227px;


  color: white;
  background-color: black;
}
